.gallery__filter {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-sm);

  width: 100%;
  margin-bottom: calc(var(--space-sm) + 0.4rem);
}
.gallery__filter-chip {
  background-color: var(--col-card-bg);
  font-weight: 500;
  white-space: nowrap;

  cursor: pointer;
}
.gallery__filter-chip:hover,
.gallery__filter-chip:focus {
  color: var(--col-annotation);
  border-color: var(--col-annotation);
}
.gallery__filter-chip--active {
  color: var(--col-text);
  background-color: var(--col-bg);
  border-color: var(--col-text);
}
.gallery__filter-chip--emphasize {
  color: var(--col-text);
  font-weight: 600;
}
