.gallery__position-indicator {
  appearance: unset;
  width: 100%;
  height: 0.2rem;
}
.gallery__position-indicator::-webkit-progress-bar {
  background-color: transparent;
}
.gallery__position-indicator::-webkit-progress-value {
  background-color: var(--col-heading);
}
