/* COMPONENT CLASSES MODIFIER */
.paper--list {
  flex-flow: column nowrap;
  padding: var(--space-md) var(--space-sm);
}

/* COMPONENT CLASSES */
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  border: 1px solid var(--col-card-bg);
  border-radius: 1rem;
  box-shadow: var(--col-box-shadow);

  overflow: hidden;
}

.card__header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  max-height: 400px; /* COMMENT: if change here, change in /components/Card.tsx too */
  padding: var(--space-md);

  background-color: var(--col-bg);

  overflow: hidden;
  z-index: 1;
}
.card__image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.card__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: var(--space-sm);
}
.card__title {
  display: flex;
  flex-flow: column nowrap;
}
.card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-sm);
}
.card__tags,
.card__action-links {
  flex-flow: row wrap;
}
.card__footnote {
  padding: 0 calc(var(--space-sm) / 2);
}

.card__details {
  padding: var(--space-md);
  padding-top: 1rem;
  box-shadow: var(--col-box-shadow);

  background-color: var(--col-card-bg);

  z-index: 2;
}
.card__summary {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid transparent;
  border-radius: 1rem;

  cursor: pointer;
  transition: all var(--transition);
}
.card__summary:hover,
.card__summary:focus {
  color: var(--col-annotation);
  border-color: var(--col-annotation);
}
.card__summary::marker,
.card__summary::-webkit-details-marker {
  display: none;
  content: '';
}
.card__summary-icon {
  display: inline-flex;
  align-items: center;
}

/* RESPONSIVENESS */
/* column layout */
@media only screen and (max-width: 576px) {
  .card__header {
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
  }
  .card__details {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .card__details[open] {
    padding-top: 1rem;
    padding-bottom: var(--space-md);
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
}
/* column layout */
@media (min-width: 577px) and (max-width: 992px) {
  .card__header {
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
  }
  .card__details {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
  .card__details[open] {
    padding-top: 1rem;
    padding-bottom: var(--space-lg);
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
}
/* row layout */
@media (min-width: 993px) {
  .card {
    flex-direction: row;
    justify-content: space-between;

    border-bottom-left-radius: 1rem;
  }
  .card__header {
    flex: 1 0 35%; /* COMMENT: if change here, change in /components/Card.tsx too */
    max-height: 1000px;

    justify-content: center;

    border-bottom-left-radius: 1rem;
  }
  .card__details {
    flex: 0 1 65%; /* COMMENT: if change here, change in /components/Card.tsx too */
    max-height: 100%;

    padding: var(--space-md);
    padding-left: 1rem;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .card__summary {
    float: left;
    height: 100%;
    align-content: center;
    margin-right: 1rem;
  }
}
