/* SEMANTICS */
.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: calc(var(--space-lg) * 3);

  max-width: var(--app-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-md);
  padding-top: 150px;

  transition: all var(--transition);
}

.section {
  width: 100%;
}
.section--about {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
.section__title {
  margin-bottom: 1rem;
}

.heading-1 {
  margin-top: 1rem;

  color: var(--col-heading);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: normal;
}
.heading-2 {
  margin-top: 0.8rem;

  font-size: 2.1rem;
  font-weight: 600;
  line-height: normal;
}
.heading-3 {
  margin-top: 0.8rem;

  color: var(--col-heading);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
}
