:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

html {
  color: var(--col-text);
  background-color: var(--col-bg);

  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: calc(var(--space-lg) * 3);

  max-width: var(--app-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-md);
  padding-top: 150px;

  transition: all var(--transition);
}

.section {
  width: 100%;
}
.section--about {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
.section__title {
  margin-bottom: 1rem;
}

.heading-1 {
  margin-top: 1rem;

  color: var(--col-heading);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: normal;
}
.heading-2 {
  margin-top: 0.8rem;

  font-size: 2.1rem;
  font-weight: 600;
  line-height: normal;
}
.heading-3 {
  margin-top: 0.8rem;

  color: var(--col-heading);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
}

.small {
  color: var(--col-annotation);
  font-size: 0.8rem;
}

.link {
  border-bottom: 2px solid var(--col-heading);

  color: var(--col-heading);
  background-color: unset;
  font-weight: 500;

  cursor: pointer;
  transition:
    color var(--transition),
    border-color var(--transition);
}
.link:hover,
.link:focus {
  color: var(--col-annotation);
  border-color: var(--col-annotation);
}

.button {
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: var(--space-sm);

  color: var(--col-button-text);
  background-color: var(--col-button-bg);
  font-weight: 500;

  cursor: pointer;
  transition: border-color var(--transition);
}
.button:hover,
.button:focus {
  border-color: var(--col-annotation);
}

.list {
  list-style: none;
}
.list__item {
  display: flex;
  align-items: flex-start;
  gap: var(--space-sm);

  padding: 0.1rem;
}

/* RESPONSIVENESS */
/* Small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .main {
    padding: var(--space-sm);
    padding-top: 150px;
  }
}
/* Medium devices (tablets, 992px and up) */
@media (min-width: 577px) and (max-width: 992px) {
  .main {
    padding: var(--space-md);
    padding-top: 150px;
  }
}
/* Large devices (laptops and desktops, 1200px and up) */
@media (min-width: 993px) {
  .main {
    padding: var(--space-md);
    padding-top: 150px;
  }
}