.card {
  box-shadow: var(--box-shadow-dark);
  border: 1px solid var(--card-bg-dark);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  overflow: hidden;
}

.card-image {
  background-color: var(--bg-dark);
  position: relative;
  z-index: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  max-height: 400px; /* COMMENT: if change here, change in /components/Card.tsx too */
  padding: var(--space-md);
  overflow: hidden;
}
.card-image img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.details {
  background-color: var(--card-bg-dark);
  box-shadow: var(--box-shadow-dark);

  padding: var(--space-md);
  padding-top: 1rem;

  z-index: 2;
}
.card-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: var(--space-sm);
}
.card-inner {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
}
.card-header {
  display: flex;
  flex-flow: column nowrap;

  padding-bottom: 0.6rem;
}
.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-sm);
}
.feature-list {
  background-color: var(--card-bg-dark);

  border-radius: 1rem;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: var(--space-sm);

  width: 100%;
  padding: var(--space-md) var(--space-sm);
  overflow: hidden;
}
.card .footnote {
  padding: 0 calc(var(--space-sm) / 2);
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: '';
}
summary {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1rem;
  transition: all var(--transition);
}
summary:hover,
summary:focus,
summary:focus-visible {
  color: var(--annotation-dark);
  border-color: var(--annotation-dark);
}
summary > span {
  display: inline-flex;
  align-items: center;
}

/* LIGHT THEME */
@media (prefers-color-scheme: light) {
  .card {
    box-shadow: var(--box-shadow-light);
    border: 1px solid var(--card-bg-light);
  }
  .card-image {
    background-color: var(--bg-light);
  }
  .details {
    background-color: var(--card-bg-light);
    box-shadow: var(--box-shadow-light);
  }
  summary:hover,
  summary:focus,
  summary:focus-visible {
    color: var(--annotation-light);
    border-color: var(--annotation-light);
  }
  .feature-list {
    background-color: var(--card-bg-light);
  }
}

/* RESPONSIVENESS */
/* column layout */
@media only screen and (max-width: 576px) {
  .card-image {
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
  }
  .details {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .details[open] {
    padding-top: 1rem;
    padding-bottom: var(--space-md);
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
}
/* column layout */
@media (min-width: 577px) and (max-width: 992px) {
  .card-image {
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
  }
  .details {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
  .details[open] {
    padding-top: 1rem;
    padding-bottom: var(--space-lg);
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
}
/* row layout */
@media (min-width: 993px) {
  .card {
    flex-direction: row;
    justify-content: space-between;

    border-bottom-left-radius: 1rem;
  }
  .card-image {
    flex: 1 0 35%; /* COMMENT: if change here, change in /components/Card.tsx too */
    max-height: 1000px;

    justify-content: center;

    border-bottom-left-radius: 1rem;
  }
  .details {
    flex: 0 1 65%; /* COMMENT: if change here, change in /components/Card.tsx too */
    max-height: 1000px;

    padding: var(--space-md);
    padding-left: 1rem;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .details summary {
    float: left;
    height: 100%;
    align-content: center;
    margin-right: 1rem;
  }
}
