.card {
  background-color: #fff; /* this has to be light */
  box-shadow: var(--box-shadow-dark);
  border: 1px solid var(--card-bg-dark);
  border-radius: 1rem;

  display: flex;

  overflow: hidden;
}
.card-image {
  position: relative;

  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  max-height: 400px;
  overflow: hidden;
  padding: var(--space-md);

  cursor: pointer;

  z-index: 1;
}
.card-image img {
  object-fit: contain;
  max-width: 100%;
  max-height: 1000px;
}
#expand-more,
#expand-less {
  color: var(--heading-light);
  background-color: #fff; /* this has to be light */

  position: absolute;
  top: 0;
  right: 0;

  display: inline-flex;
  align-items: center;

  padding: var(--space-sm);
  border-radius: 1rem;

  cursor: pointer;
}

.card-content {
  background-color: var(--card-bg-dark);
  box-shadow: var(--box-shadow-dark);

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: baseline;

  width: 100%;
  gap: var(--space-sm);
  padding: var(--space-md);

  z-index: 2;
}
.card-inner {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
}
.card-header {
  display: flex;
  flex-flow: column nowrap;

  padding-bottom: 0.6rem;
}
.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: var(--space-md);
}
.feature-list {
  background-color: var(--card-bg-dark);

  border-radius: 1rem;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

  width: 100%;
  overflow: hidden;

  gap: var(--space-sm);
  padding: var(--space-md) var(--space-sm);
}
.card .annotation {
  padding: 0 calc(var(--space-sm) / 2);
}

/* LIGHT THEME */
@media (prefers-color-scheme: light) {
  .card {
    box-shadow: var(--box-shadow-light);
    border: 1px solid var(--card-bg-light);
  }
  .card-content {
    background-color: var(--card-bg-light);
    box-shadow: var(--box-shadow-light);
  }
  .feature-list {
    background-color: var(--card-bg-light);
  }
}

/* RESPONSIVENESS */
/* Small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .card {
    flex-flow: column nowrap;
  }
  .card-image {
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
  }
  .card-content {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
/* Medium devices (tablets, 992px and up) */
@media (min-width: 577px) and (max-width: 992px) {
  .card {
    flex-flow: column nowrap;
  }
  .card-image {
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
  }
  .card-content {
    padding: var(--space-lg);

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
/* Large devices (laptops and desktops, 1200px and up) */
@media (min-width: 993px) {
  .card {
    flex-flow: row nowrap;

    border-bottom-left-radius: 1rem;
  }
  .card-image {
    max-width: 35%;

    justify-content: center;

    border-bottom-left-radius: 1rem;
  }
  .card-content {
    max-width: 65%;

    padding: var(--space-lg);

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
