::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--annotation-dark);
}

.gallery-wrapper {
  display: flex;
  flex-flow: column nowrap;

  max-width: calc(100vw - var(--space-md) * 2);
}

.gallery-nav {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-sm);
}
.gallery-nav-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
}
.gallery-nav-buttons-left,
.gallery-nav-buttons-right {
  display: inline-flex;
  align-items: center;
}
#to-next,
#to-previous,
#to-start,
#to-end {
  align-items: center;
  gap: var(--space-sm);

  border: unset;
}

#animated-icon {
  animation: scroll-right 2s infinite ease-in-out;
}
@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.8rem);
  }
  40% {
    transform: translateX(0);
  }
}

.gallery {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  gap: var(--space-lg);
  padding: var(--space-md) var(--space-sm);
}
.gallery-element {
  scroll-snap-align: center;
  scroll-snap-stop: always;

  min-width: 100%;
  height: 100%;
}

/* LIGHT THEME */
@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background: var(--annotation-light);
  }
}

/* RESPONSIVENESS */
/* Small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .gallery-wrapper {
    max-width: calc(100vw - var(--space-sm) * 2);
  }
}

/* Medium devices (tablets, 992px and up) */
@media (min-width: 577px) and (max-width: 992px) {
  .gallery-wrapper {
    max-width: calc(100vw - var(--space-md) * 2);
  }
  .gallery {
	padding: var(--space-md);
  }
}

/* Large devices (laptops and desktops, 1200px and up) */
@media (min-width: 993px) {
  .gallery-wrapper {
    max-width: calc(100vw - var(--space-md) * 2);
  }
  .gallery {
	padding: var(--space-md);
  }
}
