@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* DEFAULT */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;

  --col-bg: light-dark(#fafafa, #212121);
  --col-heading: light-dark(#212121, #fafafa);
  --col-text: light-dark(#424242fa, #f5f5f5fa);
  --col-annotation: light-dark(#616161ca, #eeeeeeca);
  --col-card-bg: light-dark(#bdbdbd21, #9e9e9e21);
  --col-button-bg: light-dark(#fafafaca, #212121ca);
  --col-button-text: var(--col-heading);
  --col-box-shadow: light-dark(0 0 0.8rem #61616155, 0 0 1rem #00000055);

  --app-width: 1150px;

  --space-sm: 0.8rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;

  --transition: ease-out 0.18s;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}
html {
  color: var(--col-text);
  background-color: var(--col-bg);

  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* UTILITY CLASSES */

.gap-sm {
  gap: var(--space-sm);
}
.gap-md {
  gap: var(--space-md);
}
.gap-lg {
  gap: var(--space-lg);
}

/* RESPONSIVENESS */
/* Small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  main {
    padding: var(--space-sm);
    padding-top: 150px;
  }
}
/* Medium devices (tablets, 992px and up) */
@media (min-width: 577px) and (max-width: 992px) {
  main {
    padding: var(--space-md);
    padding-top: 150px;
  }
}
/* Large devices (laptops and desktops, 1200px and up) */
@media (min-width: 993px) {
  main {
    padding: var(--space-md);
    padding-top: 150px;
  }
}
