.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: #212121cc;
  width: 100%;
  min-height: 100%;

  z-index: 98;
}
.modal:focus {
  outline: none;
}

.modal-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: var(--app-width);
  max-width: calc(100vw - var(--space-md) * 2);

  gap: var(--space-md);

  z-index: 99;
}
.modal-gallery {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.modal-element {
  width: 100%;
  height: 100%;

  border-radius: 1rem;
  box-shadow: 0 0 1rem #10101055;
}
.modal-nav-icon,
#modal-close {
  color: var(--heading-dark);

  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);
}
.modal-nav-icon:hover,
#modal-close:hover {
  color: var(--annotation-dark);
}

#prev-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  min-height: 100%;

  cursor: pointer;
}
#next-img {
  position: absolute;
  top: 0;
  left: 50%;

  width: 50%;
  min-height: 100%;

  cursor: pointer;
}
#modal-close {
  position: fixed;
  top: 1rem;
  right: 1rem;

  cursor: pointer;
}

/* RESPONSIVENESS */
/* Small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .modal-wrapper {
    max-width: calc(100vw - var(--space-sm) * 2);
  }
}

/* Medium devices (tablets, 992px and up) */
@media (min-width: 577px) and (max-width: 992px) {
  .modal-wrapper {
    max-width: calc(100vw - var(--space-md) * 2);
  }
}

/* Large devices (laptops and desktops, 1200px and up) */
@media (min-width: 993px) {
  .modal-wrapper {
    max-width: calc(100vw - var(--space-md) * 2);
  }
}
