.paper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  background-color: var(--col-card-bg);
  border-radius: 1rem;
}

.paper--spacing-sm {
  gap: var(--space-sm);
  padding: var(--space-sm);
}
.paper--spacing-md {
  gap: var(--space-sm);
  padding: var(--space-md);
}
.paper--spacing-lg {
  gap: var(--space-md);
  padding: var(--space-lg);
}
