.gallery {
  display: flex;
  flex-flow: column nowrap;

  max-width: calc(100vw - var(--space-md) * 2);
}
.gallery__controls {
  position: sticky;
  top: 7rem;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-sm);

  padding-bottom: var(--space-md);

  background-color: var(--col-bg);

  z-index: 3;
}
.gallery__wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--space-lg);

  width: 100%;
  height: 100%;
  padding: var(--space-md) var(--space-sm);

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.gallery__element {
  min-width: 100%;
  height: 100%;

  scroll-snap-align: center;
  scroll-snap-stop: always;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 576px) {
  .gallery {
    max-width: calc(100vw - var(--space-sm) * 2);
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .gallery {
    max-width: calc(100vw - var(--space-md) * 2);
  }
  .gallery__wrapper {
    padding: var(--space-md);
  }
}
@media (min-width: 993px) {
  .gallery {
    max-width: calc(100vw - var(--space-md) * 2);
  }
  .gallery__wrapper {
    padding: var(--space-md);
  }
}
