
.gallery__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
}
.gallery__buttons-left,
.gallery__buttons-right {
  display: flex;
  align-items: center;
}
.gallery__to-next,
.gallery__to-previous,
.gallery__to-start,
.gallery__to-end {
  display: none; /* this changes dynamically between "none" and "flex" */
  align-items: center;
  gap: var(--space-sm);

  border: unset;
}
.gallery__animated-icon {
  animation: scroll-right 2s infinite ease-in-out;
}
@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.8rem);
  }
  40% {
    transform: translateX(0);
  }
}
