.gallery-filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--space-sm);

  width: 100%;
  margin-bottom: calc(var(--space-sm) + 0.4rem);

  overflow-x: scroll;
  scrollbar-width: none;
}
.filters {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: var(--space-sm);
}
.gallery-filter {
  border: none;
  background-color: var(--col-card-bg);
  width: 100%;
  border: 2px solid transparent;
}
.gallery-filter .active-filter {
  background-color: var(--col-bg);
  border-color: var(--col-text);
  color: var(--col-text);
}
